
@model IEnumerable<FileSharer.Web.Data.EntityF.File>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "List";
}

<section data-bs-version="5.1" class="header1 cid-s48MCQYojq mbr-fullscreen mbr-parallax-background" id="header1-f">
        <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(190, 211, 249);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
<div class="text-center">
    <h1 class="display-4">Files</h1>
    
</div>


@foreach(var files in ViewBag.Files)
{
    <p>Id = @files.Id, Name = @files.FileName, Path = @files.FilePath, Type = @files.FileType, Size = @files.FileSize, File Owner = @files.User.LastName @files.User.FirstName, @files.User.Role.RoleName </p>
       string fileToFownload = files.FilePath;
        @Html.ActionLink(fileToFownload, "Download", new { id = files.Id }, "");
}


@{
    ViewData["Title"] = "Добавление файла";
}
<h3>Выберите файл для загрузки</h3>
<form asp-action="AddFile" asp-controller="File" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" /><br>
    <input type="submit" value="Загрузить" />
</form>
 
 <head>
  <meta charset="utf-8">
  <title>download</title>
 </head>
             </div>
        </div>
    </div>
 </section>


