

@model IEnumerable<FileSharer.Web.Data.EntityF.File>

@{
    ViewData["Title"] = "List";
}

<div class="text-center">
    <h1 class="display-4">Files</h1>
    
</div>


@foreach(var files in ViewBag.Files)
{
    <p>Id = @files.Id, Name = @files.FileName, Path = @files.FilePath, Type = @files.FileType, Size = @files.FileSize, File Owner = @files.u=UserId </p>
}


@{
    ViewData["Title"] = "Добавление файла";
}
<h3>Выберите файл для загрузки</h3>
<form asp-action="AddFile" asp-controller="File" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" /><br>
    <input type="submit" value="Загрузить" />
</form>
 
 <head>
  <meta charset="utf-8">
  <title>download</title>
 </head>
 <body>

@foreach(var files in ViewBag.Files)
{
    <p><a href= @files.filePath  download>Скачать файл @files.fileName</a> </p>
}
</body>
