@model FileSharer.Web.Models.UserModel

@{
    ViewData["Title"] = "Админ-панель";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section data-bs-version="5.1" class="header1 cid-s48MCQYojq mbr-fullscreen" id="header1-f">

    
            <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Users.First().Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Users.First().FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Users.First().LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Users.First().Role.RoleName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Users.First().UserId)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>


                @foreach (var item in Model.Users)
                {
                if (item.Email == "0@gmail.com")
                {
                    
                    
                }
                else
                {
                    
                <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role.RoleName)
                        </td>
                        <td>

                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                                        <td>
                                            <a href="@Url.Action("DeleteUser", "Account", new { id = item.UserId })">Удалить</a>
                                        </td>
                    @if (item.Role.RoleName == "User")
                    {
                                                    <td>
                                                        <a href="@Url.Action("ChangeRoleUp", "Account", new { id = item.UserId })">Сделать админом</a>
                                                    </td>
                    }
                    @if (item.Role.RoleName == "Guest")
                    {
                                                    <td>
                                                                <a href="@Url.Action("ChangeRole", "Account", new { id = item.UserId })">Сделать пользователем</a>
                                                   </td>
                    }

                                        

                    </tr>
                }
              }
            </tbody>
        </table>



    
</section>
